.article-list {
    gap: 20px;
    padding-top: 80px;
    /* 子元素居中显示 */
    justify-content: center;
    align-items: center;
    display: flex;
    /* 子元素竖排显示 */
    flex-direction: column;
}

.article-box{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}