.login_container {
    margin-top: 120px;
    max-width: 40%;
}
.title_text{
    /* 里面的元素居中显示 */
    display: flex;
    justify-content: center;
    /* 设置字体样式 */
    font-size: 30px;
    color: #000000;
    font-family: '黑体', sans-serif;
}
.login_form {
    background-color: #fffdfd;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}
.input_box{
    display: flex;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #0366d6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0356c8;
}

.toggle-link {
    text-align: center;
    margin-top: 20px;
}

.login_text_button {
    color: #0366d6;
    text-decoration: none;
}

.login_text_button:hover {
    text-decoration: underline;
}