.container {
  margin-top: 5%;
  margin-left: 15%;
  padding: 20px;
  max-width: 70%;
  shape-rendering: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.user-info-section {
  display: flex;
  align-items: top;
  margin-bottom: 20px;
  margin-left: auto;
  position: relative;
  max-height: 320px;
}

.user-info-section h2 {
  margin-top: 10px;
}

.user-details {
  /* 右置顶 */
  margin-left: auto;
  position: relative;

  max-width: 400px;
  max-height: 320px;
  margin-bottom: 20px;
  align-items: top;
}

.user-details h2 {
  margin-top: 10px;
}

.edit-avatar-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  color: black;
  border: 1px solid black;
  z-index: 7;
  padding: 5px;
  cursor: pointer;
}



.user-details p {
  margin: 5px 0;
}

.gray-text {
  color: gray;
}

.edit-info-button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  color: black;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 5px;
  padding: 5px;

  cursor: pointer;

}

.edit-info-button:hover {
  background: #b5b5b5;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.my-articles-section {
  margin-top: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.write-article-button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.article-box {
  flex: 1 1 calc(33.333% - 10px);
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.more-button {
  display: block;
  margin: 20px auto 0;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.usercard-cover {
  position: absolute;
  top: 68px;
  left: 0;
  max-width: 340px;
  max-height: 240px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* 默认透明 */
  opacity: 0;
  /* 默认透明 */
  z-index: 3;
  /* 使其在 usercard 后面 */
  border-radius: 15px;
  /* 与 usercard 同步的圆角 */
  transition: background-color 0.3s, opacity 0.3s;
  /* 添加过渡效果 */
  /* 使其在鼠标悬停时不能复制*/
  user-select: none;
  cursor: pointer;
}

.usercard-container:hover .usercard-cover {
  background-color: #000000;
  /* 浅灰色 */
  opacity: 0.5;
  /* 设置透明度 */
}

.edit-content {
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.edit-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 1);
}

.edit-text {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}